.board {
  display: inline-block;
  height: 50%;
  width: 50%;
}
.card {
  float: left;
  margin: 8%;
  height: 200px;
  width: 150px;
  background-color: yellow;
  border: 1px black solid;
  border-radius: 10px;
  
}
h1 {
    color: rgb(2,132,130);
   } 
h2 {
    color: #ffd700;

   }
.name {
  color: #ff0000;
}

nav {
  background-color: #808080;
}

nav a {
  background-color: #ffbf00;
  color: #ffffff;
  float: left;
  padding: 35px;
  display: block;
  text-decoration: none;
}

a:hover {
  background-color: #ee5f3c;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

footer {
  background-color: #808080;
  text-align: center;
}

header, footer, p {
  text-align: center;
}